extends layout

block content
  h2 Complete the Following Mad Lib...
  div(class='madlib-box')
    div(class='madlib-snippet')
      p
        | Some madlib goes here
        input(placeholder='Enter a Noun', type="text")
        | Blah blah blah.
      input(type='submit', value='Continue &raquo;')

    div(class='loading')
      | Please Wait you Dry Little Pony...

    div(class='madlib-complete')
      p
        | Some madlib goes here 
        span People 
          i Noun by: Little Timmy 
        | Blah blah blah.
        | Some madlib goes here 
        span People 
          i by: Little Timmy 
        | Blah blah blah.
        | Some madlib goes here 
        span People 
          i by: Little Timmy 
        | Blah blah blah.
        | Some madlib goes here 
        span People 
          i by: Little Timmy 
        | Blah blah blah.
      input(type='submit', value='Restart')

  div(class='active-users') Active Users: 
    span Little Timmy
    , 
    span Little Tommy
    , 
    span Bob

  script(src='/socket.io/socket.io.js')
  script
    var socket = io.connect('http://localhost');
    socket.on('madlib:start', function (data) {
      console.log(data);
      socket.emit('madlib:finish', { my: 'data' });
    });